.navbar-dark {
  background-color: transparent !important;
}

.nav-link-hover:hover {
  outline: 1px solid #7f56d9;
  border-radius: 10px;
}

#remixbtn {
  outline: 1px solid #7f56d9 !important;
}

#remixbtn:hover {
  background-color: #7f56d9 !important;
  color: white !important;
  border-color: #7f56d9 !important;
}