.hero-section {
  height: 100vh;
  background: #0a0a0a no-repeat center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.highlight4 {
  color: #7f56d9;
}

button {
  border-radius: 50px;
}

Button:hover {
  background-color: #7f56d9 !important;
  color: white !important;
  border-color: #7f56d9 !important;
}